@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="content-grid">
    <div class="content-section">
        Build it with .NET
        <div class="info-text">
            .NET supports the following cross-platform scenarios: ASP.NET Core web apps,
            command-line/console apps, libraries and Universal Windows Platform apps. 
            Prior to .NET Core 3.0, it did not implement Windows Forms or
            Windows Presentation Foundation (WPF), which render the standard GUI for 
            desktop software on Windows.[36] However, from .NET Core 3 on, 
            it started implementing them along with Universal Windows Platform
        </div>
    </div>
    <div class="button-container">
        <button onclick="goToPage()">Know More</button>
    </div>
</div>

<script src="~/js/Index.js"></script/>